.cache
.coverage.*
.coveralls.yml
.idea
*.pyc
.coverage
coverage.xml
client/dist
.DS_Store
celerybeat-schedule*
.#*
\#*#
*~
_build
.vscode
.env
venv
dump.rdb

node_modules
.tmp
.sass-cache
postgres-data
npm-debug.log
